@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: 'proxima-nova', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  color: #333;
  background-color: #f5f8fa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
    width: 1200px;
}
.navbar-brand {
  a {
    color: #fff;
  }
}
/*Work with settings*/
.form-group {
  border: 3px solid #a1a1a1;
  border-radius: 10px;
}
.container-settings {
  position: relative;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  background: fff;
  background-color: white;
  padding: 30px 20px;
  label {
    margin-top: 10px
  }
  .input-group {
    margin: 10px 20px 20px 20px;
  }

}

/*Work with table in schedules*/
.Note {
  font-size: 85%;
}

.input-group {
  margin: 30px 20px 20px 20px;
}

.navbar-container {
  background-color: #125688;
  width: 640px;
  margin: 0 auto;
}

.container-register{
  background-color: white;
  background: fff;

  border: 2px solid #a1a1a1;
  padding: 10px 20px 5px 20px;
  position: relative;
}


.container-login{
  background-color: white;
  background: fff;
  border-radius: 10px;
  border: 2px solid #a1a1a1;
  padding: 20px 20px;
  position: relative;
}

.container-password{
  background-color: white;
  background: fff;
  border-radius: 10px;
  border: 2px solid #a1a1a1;
  padding: 20px 20px;
  position: relative;
}

.myfont {
  font-size: 24px;
}

.posts-wrapper {
  margin: -50px auto;
  max-width: 642px;
  padding-top: 40px;
  width: 100%;
}

.form-control{
    width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
}

.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  .thumbnail {}
  .name {
    display: block;
  }
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.caption {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.navbar-default .navbar-brand {
  color: #333;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
}

/* Schedules */


.schedules-table {
  background-color: white;
  text-align: left;

  border-collapse: collapse;
  padding: 8px;
}
.tablesheet table, th, td {
   border: 1px solid #dddddd;
   background-color: white;
   text-align: center;
}

.container-schedules {
  position: relative;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  background: fff;
  background-color: white;
  padding: 30px 20px;
  label {
    margin-top: 10px
  }
  .input-group {
    margin: 10px 20px 20px 20px;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Loader Schedule */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#scheduleSheet {
  display: none;
  text-align: center;
}
