@import "bootstrap-sprockets";
@import "bootstrap";

.input-group-timetable .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 66px;
    margin-bottom: 0;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 73px;
    margin-bottom: 0;
}
.input-group-addon, .input-group-btn {
    width: 0%;
    white-space: nowrap;
    vertical-align: middle;
}
.btn {
    display: inline-block;
    /* margin-bottom: 0; */
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 28px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}
